# Ignore files managed by soar_template in Github PR reviews
.github/workflows/deploy.yml linguist-generated
.gitignore linguist-generated
CODE_OF_CONDUCT.md linguist-generated
Makefile linguist-generated
mypy.ini linguist-generated
pyproject.toml linguist-generated
SECURITY.md linguist-generated
soar_template linguist-generated
tests/test_python_version.py linguist-generated
