arrow==0.10.0
attrs==22.1.0
beautifulsoup4==4.11.1
bhr-client==1.6
certifi==2022.12.7
charset-normalizer==2.1.1
commonmark==0.9.1
exceptiongroup==1.0.4
flake8==6.0.0
idna==3.4
iniconfig==1.1.1
mccabe==0.7.0
multidict==6.0.3
mypy==0.991
mypy-extensions==0.4.3
packaging==22.0
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.13.0
pytest==7.2.0
git+ssh://git@github.com/edthedev/pytest-splunk-soar-connectors.git
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.1
rich==12.6.0
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
types-beautifulsoup4==4.11.6.1
types-requests==2.28.11.5
types-urllib3==1.26.25.4
typing_extensions==4.4.0
urllib3==1.26.13
vcrpy==4.2.1
wrapt==1.14.1
yarl==1.8.2
