arrow==0.10.0
attrs==25.4.0
beautifulsoup4==4.14.2
bhr-client==1.6
certifi==2025.10.5
charset-normalizer==3.4.4
Deprecated==1.2.18
docutils==0.22.2
entry-points-txt==0.2.1
flake8==7.3.0
headerparser==0.5.2
idna==3.11
iniconfig==2.1.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
multidict==6.7.0
mypy==1.18.2
mypy_extensions==1.1.0
nh3==0.3.1
packaging==25.0
pathspec==0.12.1
phantom-toolbox @ git+https://github.com/techservicesillinois/phantom-toolbox.git@a4301793e49ac0b70731146e3ce51867630dccb2
pluggy==1.6.0
propcache==0.4.1
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.2
pytest-splunk-soar-connectors @ git+https://github.com/splunk/pytest-splunk-soar-connectors.git@9eb14d6af47add9aded4eebdbaa843473ed5be20
python-dateutil==2.9.0.post0
PyYAML==6.0.3
readme_renderer==44.0
requests==2.32.5
rich==14.2.0
six==1.17.0
soupsieve==2.8
types-beautifulsoup4==4.12.0.20250516
types-html5lib==1.1.11.20251014
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.15.0
urllib3==1.26.19
vcrpy==7.0.0
wheel==0.45.1
wheel-filename==1.4.2
wheel-inspect==1.7.2
wrapt==1.17.3
yarl==1.22.0
