arrow==0.10.0
beautifulsoup4==4.13.4
bhr-client==1.6
certifi==2025.4.26
charset-normalizer==3.4.2
exceptiongroup==1.3.0
flake8==7.2.0
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
multidict==6.4.4
mypy==1.16.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
propcache==0.3.2
pycodestyle==2.13.0
pyflakes==3.3.2
Pygments==2.19.1
pytest==8.4.0
git+https://github.com/splunk/pytest-splunk-soar-connectors.git
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.4
rich==14.0.0
six==1.17.0
soupsieve==2.7
tomli==2.2.1
types-beautifulsoup4==4.12.0.20250516
types-html5lib==1.1.11.20250516
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.14.0
urllib3==1.26.19
vcrpy==7.0.0
wrapt==1.17.2
yarl==1.20.1
