# Built into SOAR
beautifulsoup4
# Production dependencies (Pulled from soar_null_router.json)
bhr-client
# Testing dependencies
pytest
vcrpy
# TODO: Uncomment after it is available on PyPI:
#pytest-splunk-soar-connectors
# TODO: Remove use of temporary fork after Issue 3 is resolved.
git+ssh://git@github.com/edthedev/pytest-splunk-soar-connectors.git@d05e170c5c3f7592d33110e148f4ccbaa6425eeb
