interactions:
- request:
    body: cidr=151.45.29.79%2F32&source=TEST&why=Malicious+IP%21&duration=100&autoscale=False&skip_whitelist=False&extend=False
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://nr-test.techservices.illinois.edu/bhr/api/block
  response:
    body:
      string: '{"who":"SOAR-test","url":"https://nr-test.techservices.illinois.edu/bhr/api/blocks/16431071/","cidr":"151.45.29.79/32","source":"TEST","why":"Malicious
        IP!","added":"2023-02-22T15:20:28.302980-06:00","unblock_at":"2023-02-22T15:22:08.296324-06:00","skip_whitelist":false,"set_blocked":"https://nr-test.techservices.illinois.edu/bhr/api/blocks/16431071/set_blocked/"}'
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
