interactions:
- request:
    body: cidr=151.45.29.79%2F32&source=SOAR&why=Malicious+IP%21&duration=100&autoscale=False&skip_whitelist=False&extend=False
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://nr-test.techservices.illinois.edu/bhr/api/block
  response:
    body:
      string: '{"who":"SOAR-test","url":"https://nr-test.techservices.illinois.edu/bhr/api/blocks/16056972/","cidr":"151.45.29.79/32","source":"SOAR","why":"Malicious
        IP!","added":"2022-08-09T15:49:08.797570-05:00","unblock_at":"2022-08-09T15:50:48.791446-05:00","skip_whitelist":false,"set_blocked":"https://nr-test.techservices.illinois.edu/bhr/api/blocks/16056972/set_blocked/"}'
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
